PORT=8080
MONGODB_URI=mongodb://localhost:27017
DB_NAME=VIRQA
JWT_SECRET=supersecret123

FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email Configuration
GOOGLE_USER=your_email@gmail.com
GOOGLE_APP_PASSWORD=your_app_password

GROQ_API_KEY=your_groq_api_key
